body {
    background: #444444;
}

.panel > .panel-heading {
    background-color: #1E1A19;
    border-color: #5b5a5c;
    color: white;
}

.panel {
    background-color: #444444;
    border-color: #1E1A19;
}

a.list-group-item, li.list-group-item {
    background-color: #5b5a5c;
    border-color: black;
    color: white;
}


#titleoverride {
    color: white;
}

a.list-group-item:hover, a.list-group-item:focus, li.list-group-item:hover, li.list-group-item:focus
{
    color: white;
    background-color: #302f31;
}

.editable-click, a.editable-click {
    text-decoration: none;
    color: white;
    border-bottom: none;
}

.btn-default {
    background-color: #7D5BBE;
    border-color: #7D5BBE;
    color: white;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #a55de8;
    border-color: #a55de8;
    color: white;
}

.descDiv {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    background: #1E1A19;
    color: white;
}

.descDiv input {
    color: black;
}

.descDiv select {
    color: black;
}

.buttonDiv {
    text-align: center;
    padding-bottom: 5px;
}

.top-margin-element {
    margin-top: 20px;
}

.bottom-margin-element {
    margin-bottom: 20px;
}

.summary-list {
    list-style: none;
    color: white;
}

.summary-list li {
    display: inline;
    padding: 5px;
}

.buttonDiv button {
    width: 40%;
}

#goButtonDiv {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
