html {
    position: relative;
    min-height: 100%;
}

body {
    background: #444444;
    margin-bottom: 40px;
}

.panel > .panel-heading {
    background-color: #1E1A19;
    border-color: #5b5a5c;
    color: white;
}

.panel {
    background-color: #1E1A19;
    border-color: #000000;
    padding: 10px;
}

a.list-group-item, li.list-group-item, div.list-group-item{
    background-color: #444444;
    border-color: black;
    color: white;
}


#titleoverride {
    color: white;
}

a.list-group-item:hover, a.list-group-item:focus, li.list-group-item:hover, li.list-group-item:focus, div.list-group-item:hover, div.list-group-item:focus
{
    color: white;
    background-color: #302f31;
}

.editable-click, a.editable-click {
    text-decoration: none;
    color: white;
    border-bottom: none;
}

.btn-default {
    background-color: #7D5BBE;
    border-color: #7D5BBE;
    color: white;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #a55de8;
    border-color: #a55de8;
    color: white;
}

.col-content-div {
    padding: 10px;
    border-radius: 5px;
    background: #1E1A19;
    color: white;
}

.content-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.content-div input, .col-content-div input {
    color: black;
}

.content-div select, .col-content-div select {
    color: black;
}

.content-div p {
    color: white;
}

.buttonDiv {
    text-align: center;
    padding-bottom: 5px;
}

.top-margin-element {
    margin-top: 20px;
}

.bottom-margin-element {
    margin-bottom: 20px;
}

.summary-list {
    list-style: none;
    color: white;
}

.summary-list li {
    display: inline;
    padding: 5px;
}

.buttonDiv button {
    width: 40%;
}

.goButtonDiv {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.goButtonDiv img {
    width: 100%;
}

.chatBox {
    height: 100%;
}

.liveContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.liveContainer > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #1E1A19;
    border-color: #1E1A19;
    color: white;
}

.footer-container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

.jumbotron {
    background-color: #1E1A19;
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.taskButton