<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing</title>

    <% include dependencies %>
    <link rel="stylesheet" href="css/general.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Twitch Analytics</h1>
            <p>We do analytics and stuff</p>
        </div>
    </div>
    <div class="panel panel-default descDiv">
        <div class="panel-body">
            <p>Twitch Analytics lets you do analytics accross twitch chat</p>
            <p>Ready to access this amazing product? Click on the button below to get started!</p>
            <div id="goButtonDiv">
                <a href="/auth"><img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#" /></a>
            </div>
        </div>
    </div>
</body>

</html>
