<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/landing.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/landing.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Twitch Analytics</h1>
            <p>We do analytics and stuff</p>
        </div>
    </div>
    <div class="panel panel-default" id="descDiv">
        <div class="panel-body">
            <p>Twitch Analytics lets you do analytics accross twitch chat</p>
            <p>Ready to access this amazing product? Click on the button below to get started!</p>
            <div id="goButtonDiv">
                <a href="/auth"><img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#" /></a>
            </div>
        </div>
    </div>
</body>

</html>
