<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing</title>

    <% include dependencies %>
    <link rel="stylesheet" href="css/general.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Twitch Analytics</h1>
            <p>An analytics platform for Twitch Chat</p>
        </div>
    </div>
    <div class="panel panel-default content-div">
        <div class="panel-body">
            <p>Twitch Analytics lets you do analytics accross twitch chat</p>
            <p>From live chat analysis to custom tracked models Twitch Analytics has your needs covered!</p>
            <div class="goButtonDiv">
                <a href="auth"><img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#" /></a>
            </div>
        </div>
    </div>
    <% include footer %>
</body>

</html>
