<!DOCTYPE html>
<html lang="en" ng-app="live">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <% include dependencies %>

    <script>
        var authToken = '<%=auth_token%>';
        var displayName = '<%=display_name%>';
    </script>

    <script src="js/live.js"></script>
    <link rel="stylesheet" href="css/general.css">
</head>
<body ng-controller="live-body">
    <% include navbar %>
    <div class="panel panel-default descDiv">
        <div class="panel-body">
            <ul>
                <li ng-repeat="element in feedback">{{element}}</li>
            </ul>
            <p>Your auth token is: <%=auth_token%></p>
            <input type="text" ng-model="channelName"  ng-disabled="!ircActive"/>
            <button class="btn btn-default" ng-click="channelConnect()" ng-disabled="channelActive || !ircActive">Enter Channel</button>
            <button class="btn btn-default" ng-click="channelDisconnect()" ng-disabled="!channelActive">Leave Channel</button>
        </div>
        </div>
    </div>
    <div class="panel panel-default descDiv">
        <div class="panel-heading">
            Twitch Model Parameters
        </div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="element in labels_pie">{{element}}</li>
            </ul>
            <input type="text" ng-model="modelParam"/>
            <button class="btn btn-default" ng-click="addModelParam()">Add Param</button>
            <button class="btn btn-default" ng-click="resetParams()">Reset Params</button>
            <button class="btn btn-default" ng-click="resetValues()">Reset Values</button>
        </div>
    </div>
    <div class="panel panel-default descDiv">
        <div class="panel-heading">
            Meme Density Visualization
        </div>
        <div class="panel-body">
            <canvas class="chart chart-pie" chart-data="data_pie" chart-labels="labels_pie" chart-type="type" chart-legend="true"></canvas>
        </div>
    </div>

</body>
</html>
