<!DOCTYPE html>
<html lang="en" ng-app="tasks">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>

    <% include dependencies %>
    <script src="js/tasks.js"></script>
    <link rel="stylesheet" href="css/general.css">
</head>
<body ng-controller="tasks-body">
<% include navbar %>
<div class="col-lg-4 col-md-4 col-xs-4">
    <div ng-if="view_task" class="panel panel-default col-content-div">
        <div class="panel-heading">
            <h3>Task List</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div class="list-group-item container-fluid" href="#"  ng-repeat="task in tasks_global" >
                    <div class="col-md-6 col-xs-6">
                        <h3 id="titleoverride" class="list-group-item-heading">{{task.name}}</h3>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <button class="btn btn-default" ng-click="editTask(task)">Edit</button>
                        <button class="btn btn-default" ng-click="visualizeTask(task)">Visualize</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonDiv">
            <button class="btn btn-default" ng-click="addTask()" id="addTaskButton">Add Task</button>
            <button class="btn btn-default" ng-click="saveTasks()" id="saveTaskButton">Save Tasks</button>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-8 col-xs-8">
    <div ng-if="edit_task" class="panel panel-default col-content-div">
        <div class="panel-heading">
            <a href="#" editable-text="task.name" onbeforesave="markChanged(task)">
                {{ task.name || 'Click to enter task name' }}
            </a>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>Channels</h5>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li ng-repeat="channel in task.channels" class="list-group-item" editable-text="channel.channel"
                            onbeforesave="markChanged(task)">
                            {{ channel.channel || 'Click to enter channel name' }}
                        </li>
                    </ul>
                    <button class="btn btn-default" ng-click="addChannel(task)">Add Channel</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>Models</h5>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default" ng-repeat="model in task.models">
                        <div class="panel-heading">
                            <a href="#" editable-text="model.name" onbeforesave="markChanged(task)">
                                {{ model.name || 'Click to enter model name' }}
                            </a>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li ng-repeat="param in model.params" class="list-group-item"
                                    editable-text="param.param" onbeforesave="markChanged(task)">
                                    {{ param.param || 'Click to enter parameter' }}
                                </li>
                            </ul>
                            <button class="btn btn-default" ng-click="addParam(model)">Add Param</button>
                        </div>
                    </div>
                    <button class="btn btn-default" ng-click="addModel(task)">Add Model</button>
                </div>
            </div>
            <button class="btn btn-default" ng-click="removeTask(task)">Delete Task</button>
            <button class="btn btn-default" ng-click="finishEdit()">Finish</button>
        </div>
    </div>
    <div ng-if="visualize_task" class="panel panel-default col-content-div">
        <div class="panel-heading">
            <h3>{{task.name}}</h3>
        </div>
        <div class="panel-body">
            <button class="btn btn-default bottom-margin-element" ng-click="finishVisualization()">Done</button>
            <div ng-repeat="model in task.models" class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{model.name}}</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="channel in task.channels" class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{channel.channel}} Local Aggregate</h3>
                        </div>
                        <div class="panel-body">
                            <canvas class="chart chart-pie"
                                    chart-data="resolveChartData('channelLocalAggregate', task.name, model.name, channel.channel)"
                                    chart-labels="resolveChartLabel('channelLocalAggregate', task.name, model.name, channel.channel)"
                                    chart-type="type"
                                    chart-legend="true">
                            </canvas>
                        </div>
                    </div>
                    <div ng-repeat="param in model.params" class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{param.param}} cross channel aggregation</h3>
                        </div>
                        <div class="panel-body">
                            <canvas class="chart chart-pie"
                                    chart-data="resolveChartData('paramChannelAggregate', task.name, model.name, param.param)"
                                    chart-labels="resolveChartLabel('paramChannelAggregate', task.name, model.name, param.param)"
                                    chart-type="type"
                                    chart-legend="true">
                            </canvas>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Global param allocation</h3>
                        </div>
                        <div class="panel-body">
                            <canvas class="chart chart-pie"
                                    chart-data="resolveChartData('paramGlobalAggregate', task.name, model.name)"
                                    chart-labels="resolveChartLabel('paramGlobalAggregate', task.name, model.name)"
                                    chart-type="type"
                                    chart-legend="true">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <% include footer %>
</body>
</html>