<!DOCTYPE html>
<html lang="en" ng-app="tasks">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <% include dependencies %>

    <script src="js/tasks.js"></script>
    <link rel="stylesheet" href="css/general.css">
</head>
<body ng-controller="tasks-body">
    <% include navbar %>
    <div class="descDiv">
        <div ng-repeat="task in tasks_global" class="panel panel-default">
            <div class="panel-heading">
                <a href="#" editable-text="task.task_name" onbeforesave="markChanged(task)">
                    {{ task.task_name || 'Click to enter task name' }}
                </a>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Channels</h5>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li ng-repeat="channel in task.channel_names" class="list-group-item" editable-text="channel.channel_name" onbeforesave="markChanged(task)">
                                {{ channel.channel_name || 'Click to enter channel name' }}
                            </li>
                        </ul>
                        <button class="btn btn-default" ng-click="addChannel(task)">Add Channel</button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Models</h5>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default" ng-repeat="model in task.models">
                            <div class="panel-heading">
                                <a href="#" editable-text="model.model_name" onbeforesave="markChanged(task)">
                                    {{ model.model_name || 'Click to enter model name' }}
                                </a>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li ng-repeat="param in model.model_params" class="list-group-item" editable-text="param.key" onbeforesave="markChanged(task)">
                                        {{ param.key || 'Click to enter parameter' }} - {{param.value}}
                                    </li>
                                </ul>
                                <button class="btn btn-default" ng-click="addParam(model)">Add Param</button>
                            </div>
                        </div>
                        <button class="btn btn-default" ng-click="addModel(task)">Add Model</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-default" ng-click="removeTask">Delete Task</button>
        </div>
        <div class="buttonDiv">
            <button class="btn btn-default" ng-click="addTask()" id="addTaskButton">Add Task</button>
            <button class="btn btn-default" ng-click="saveTasks()" id="saveTaskButton">Save Tasks</button>
        </div>
    </div>
</body>
</html>